<div style="padding:10px">
    Search Topic:
    <div>
        <input type="text" id="keyword" value="search.."  onkeyup="SearchTopic()">
    </div>
    <div>
        <label id="required_keyword" style="color:red"></label>
    </div>
    <div id="topic_list" style="padding:5px">

    </div>
</div>

